.sidebar {
  flex: 1 0 auto;
  width: 260px;

  a {
    transition: color 0.15s ease-in-out;
    &:hover {
      color: rgba(#333e48, 0.5);
    }
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  padding-left: 18px;
  color: #333e48;
  background-color: #fed700;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.icon {
  width: 30px;
  height: 30px;
  padding: 4px;
  background-color: rgba(#333e48, 0.075);
  border-radius: 50%;
}

.list {
  li {
    position: relative;
    padding-left: 20px;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(#333e48, 0.3);
    }
  }
}
