.container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.stars {
  display: flex;
  align-items: center;
  gap: 3px;
}

.star {
  cursor: pointer;
  fill: #d3d3d3;
  stroke: #cbcbcb;
}

.filled {
  fill: #fed700;
}

.hovered {
  fill: rgba(#fed700, 0.7);
}

.votes {
  color: #a0a0a0;
  line-height: 1;
}
