@import '../../styles/mixins';

.container {
  @include container;
}

.services {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.service {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  color: #0ea5e9;

  svg {
    width: 50px;
    height: 50px;
  }
}

.text {
  font-size: 17px;
  line-height: 26px;

  h3 {
    margin: 0;
    color: #333e48;
  }

  span {
    color: #5e6063;
  }
}
