.sidebanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 260px;
  padding: 50px 18px;
  background-color: #000;
  background-image: url('/images/banners/sidebanner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ebebeb;
  border-radius: 4px;
}

.title {
  margin: 0 0 16px 0;
  font-weight: 600;
  font-size: 27px;
  line-height: 32px;
  letter-spacing: -0.025em;
  text-align: center;
  color: #fff;
}

.price {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 15px;
  color: #fed700;
}

.nums {
  font-size: 36px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.button {
  padding: 10px 35px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: #0063d1;
  border-radius: 18px;
}

.note {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
