.product {
  position: relative;
  flex-grow: 1;

  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.wrapper {
  padding: 50px 25px 25px;
}

.discountBage {
  position: absolute;
  top: 18px;
  left: 22px;
  padding: 4px 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  background-color: #ff541f;
  border-radius: 4px;
}

.image {
  width: 200px;
  height: 180px;
  object-fit: contain;
  object-position: center;
  margin-bottom: 25px;
}

.title {
  margin: 0;
  min-height: 52px;
  font-size: 16px;
  line-height: 26px;
  color: #333e48;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 12px;
}

.price {
  display: flex;
  align-items: center;

  gap: 11px;

  p {
    margin: 0;
    line-height: 23px;
  }

  .current {
    font-weight: 600;
    font-size: 16px;
    color: #006fdc;
  }

  .old {
    font-size: 15px;
    text-decoration-line: line-through;

    color: #7e7e7e;
  }
}

.sold {
  padding: 25px;
  font-size: 12px;
  line-height: 14px;
  color: #242424;
  border-top: 1px solid #f3f3f3;
}

.soldBar {
  position: relative;
  display: block;
  width: 100%;
  height: 12px;
  margin-bottom: 5px;
  background-color: #ededed;
  border-radius: 6px;
  overflow: hidden;
}

.progress {
  position: absolute;
  display: block;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #fed700;
  border-radius: 6px;
}
